body{
    background-color: #f0f0f0;
}

.banner img {
    width: max-content;
    height: auto;
    object-fit: fill;
}

.conta {
    width: 850px;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    align-self: left;
}

.containerPedidos{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 0.5rem;
    }
    hr{
        width: 100%;
    }
}

.areaPedidos{
    width: 850px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0.2rem;

}
.areaPedidos hr{
    margin-bottom: 0.5rem;
}

.containerPedidos button{
    margin-bottom: 0.5rem;
    border: solid 0.2px #000000;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
}
.containerPedidos button:hover {
    background-color: #000000; /* Cor de fundo quando o mouse passa sobre o botão */
    color: white; /* Cor do texto quando o mouse passa sobre o botão */
}
.pedido{
    
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}




#numPedido{
    span{
    margin-left: 0.5rem;
    font-weight: bold;
    }
    margin-bottom: 0.5rem;
}
.infoPedido{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(177, 177, 177);
    margin-bottom: 0.5rem;
}


#itemPedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
        font-size: 15px;
    }
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}




#finalPedido{
    display: flex;
    flex-direction: column;
    hr{
        width: 100%;
    }
    
        margin-top: 0.5rem;
}