.area {
    background-color: #d4d4d4;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner img {
    width: max-content;
    height: auto;
    object-fit: fill;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: calc(width/192);
    box-sizing: border-box;
}

.card {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    margin-bottom: 10px; /* Adjust the margin between cards */
    background-color: #fff; /* Optional background color */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Optional border radius */
    flex: 0 0 calc(33.33% - 20px); /* Prevent flex-grow and flex-shrink, set fixed width */
}



