.container-car{
  height: 100vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  
}

/*Tabela --- */
#customers {
    
    border-collapse: collapse;
    width: 50%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #d1d0d0;}
  

  
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
  }

  /*Finalização*/

  .summary-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.summary-card p {
    margin: 0 0 10px;
    line-height: 1.5;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.payment-options button {
    flex: 1 0 30%;
    margin: 10px 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}